.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgb(32, 31, 31);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 500px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.modal-actions {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 12px 40px;
  border-radius: 6px;
  border: none;
}

.modal-actions .danger {
  background: #ffd54f;
}
